.custom-card{

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    padding: 2rem 1rem;
}

.custom-card .card {
    width: 100%;
    max-width: 700px;
    padding: 1.5rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    text-align: center;
}

.title{
    margin: 3px;
    padding: 2px;
}

.rating-form form div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px; /* Odstęp między opcjami 1, 2, 3... */
}

/* Wyrównanie kropek i napisów w pionie */
.rating-form form label {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}
